<html>
  <head>
    <title>Contact Keeper</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/sandstone/bootstrap.min.css"
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
